@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");
@import "tailwindcss";

* {
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
  background: #f4fbfa;
}

/* Prevent React Router NavLink from using default blue link color */
a {
  color: inherit;
  text-decoration: none;
}

.sidebar-navigation a {
  color: #000;
}

/* Make form elements use the same font */
button,
input,
textarea,
select {
  font: inherit;
}

/* Optional cleaner button behavior */
button {
  cursor: pointer;
}
.doctor-input {
  width: 100%;
  height: 40px;
  border: 1px solid #dce6e9;
  border-radius: 8px;
  padding: 0 12px;
  font-size: 11px;
  outline: none;
}

.doctor-input:focus {
  border-color: #79d7c9;
}

.staff-input {
  width: 100%;
  height: 40px;
  border: 1px solid #dce6e9;
  border-radius: 8px;
  padding: 0 12px;
  font-size: 11px;
  outline: none;
  background: white;
}

.staff-input:focus {
  border-color: #79d7c9;
}